h1{font-weight: bolder; text-align: center}
h2{font-weight: bold}

.login-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.login-card {
    background-color: #f3ead6;
    padding: 1rem;
    border: 3px solid black;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 30px;
    flex: 1 1 100%; /* Di default, gli elementi prendono l'intera larghezza */
    align-items: center;
}

input{
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    height: 40px;
    transition: all 0.3s ease;
    border-radius: 20px;
}

select{
    border-radius: 3px;
    background-color: #fff;
    padding: 0 16px;
    height: 30px;
    align-items: center;
}

option{
    background-color: #fff;
    margin-right: 16px;
}

.box{
    width:255px;
    margin-top: 0.5%;
    margin-bottom: 2%;
    padding-left: 10px;
    padding-right: 10px;
}

input:focus{
    border: 3px solid #767F63;
    transition: all 0.1s ease;
}

input:hover{
    border-color: #000;
}

.submit{
    display: block;
    padding: 0 30px;
    margin-left: auto;
    color: #000;
    background: #acb990; /* acb990 a1ad86*/
    font-weight: bold;
    border-radius: 6px;
    height: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    cursor: pointer;
}

.submit:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.submit:active {
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.modal {
    position: fixed;
    z-index: 1000;
    width: 1000px;
    height: 1000px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    & > *{
        margin: 0 0 0.5rem 0;
    }
}

.dialog-content {
    background-color: #fff;
    margin: 10% auto; /* Margine verticale per centrare meglio */
    padding: 20px;
    border: 1px solid #888;
    width: 800px; /* Mantieni la larghezza che preferisci */
    max-width: 90%; /* Limita la larghezza massima per schermi piccoli */
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Aggiunta ombra per un aspetto più tridimensionale */
}

.modal[open]{
    animation: fade-up 300ms forwards;
}

.modal::backdrop{
    background:rgb(0 0 0 / .4);
}

.modal[closing]{
    animation: fade-down 300ms forwards;
}

.modal.closingDialog{
    animation: fade-down 300ms forwards;
}

@keyframes fade-down{
    0% {
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }
    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@keyframes fade-up{
    0% {
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }
    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}