@font-face {
    font-family: "Switzer";
    src: url("../assets/fonts/Switzer-Light.woff");
    font-weight: 300;
}

@font-face {
    font-family: "Switzer";
    src: url("../assets/fonts/Switzer-Regular.woff");
    font-weight: 400;
}

@font-face {
    font-family: "Switzer";
    src: url("../assets/fonts/Switzer-Bold.woff");
    font-weight: bold;
}

@font-face {
    font-family: "Switzer";
    src: url("../assets/fonts/Switzer-BoldItalic.woff");
    font-weight: 700;
}

@font-face {
    font-family: "Switzer";
    src: url("../assets/fonts/Switzer-Extrabold.woff");
    font-weight: 800;
}

@font-face {
    font-family: "Switzer";
    src: url("../assets/fonts/Switzer-Semibold.woff");
    font-weight: 600;
}

@font-face {
    font-family: "Switzer";
    src: url("../assets/fonts/Switzer-Italic.woff");
    font-style: italic;
}

:root{
    font-size: 16px;
    font-family: 'Switzer', monospace;
    --text-primary: black;
    --text-secondary: black;
    --bg-primary: #ece4d0;/*#e3dbc8*/
    --bg-secondary: #767F63;
    --bg-pageframe: #ededef;
    --page-width: 1340px;

    --navbar-highlight-color: var(--bg-primary);
    --highlight-color: var(--bg-secondary);
    --navbar-text-color: black;
}

body{
    background: var(--bg-pageframe);
    margin-bottom: 0;
    margin-top: 0;
}

body::-webkit-scrollbar{ /* non funziona per Firefox, Edge*/
    width: 0.35rem;
}

body::-webkit-scrollbar-track{
    background: var(--bg-primary);
}

body::-webkit-scrollbar-thumb{
    background: var(--bg-secondary);
}

/*.page-template{
    max-width: var(--page-width);
    margin: 0 auto;
    background: var(--bg-pageframe);
}*/

.logo {
    padding-left: 1.5rem;
    margin-left: 1.5rem;
    width: 125px;
    height: 125px;
}

.logo-text{
    height: 75px;
}

header {
    background: var(--bg-secondary);/*#d7c2aa colore sfondo logo*/
    padding-top: 10px;
    /*border: 1px solid #000;*/
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-primary);
    border-top: 2px solid;
    margin-bottom: 0;
    padding: 0;
}

.nav-item {
    display: flex;
    border-right: 1px solid;
}

.nav-item.right {
    margin-left: auto;
    border-left: 1px solid;
}

.nav-item:last-child {
    border-right: none; /* Rimuovi il bordo dall'ultimo elemento */
}

.nav-item:link, .nav-item:active, .nav-item:visited {
    background-color: var(--highlight-color);
}

nav ul:hover{
    box-shadow: 0 2px 20px var(--navbar-highlight-color);
    transition: .2s;
}

nav ul li a {
    display: inline-block;
    color: var(--navbar-text-color);
    text-decoration: none;
    font-weight: bold;
    vertical-align: middle;
}

a.navbar-option{
    padding: 10px 20px;
}

nav ul li:hover {
    box-shadow: 0 2px 20px var(--highlight-color);
    transition: .2s;
}

.propic{
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    padding: 0 0 0 10px;
}

.flex{
    display: flex;
}

main {
    /*margin-top: 0.5rem;*/
    background-color: var(--bg-primary);
    border: 1px solid;
}

.first-content{
    margin-top: 3%;
}

.container{
    max-width: var(--page-width);
    margin-left: auto;
    margin-right: auto;
}

.main-content{
    min-height: 100vh;
    max-width: 80%;
    margin: 0 auto;
    padding-bottom: 3%;
}

.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.inline-block{
    display: inline-block;
}

footer {
    text-align:right;
    font-size:14px;
    background-color: var(--bg-secondary);
    color: #fff;
    font-weight: bold;
    border: 1px solid #000;
}

.privacy{
    background-color: var(--bg-secondary);
}

@media (min-width: 1537px){
    :root{
        --page-width: 1340px;
    }
}

@media (max-width: 1536px) {
    :root{
        --page-width: 1280px;
    }
}

@media (max-width: 1280px) {
    :root{
        --page-width: 1024px;
    }
}

@media (max-width: 1024px) {
    :root{
        --page-width: 768px;
    }
}

@media (max-width: 768px) {
    :root{
        --page-width: 640px;
    }
    .logo {
        width: 75px;
        height: 75px;
    }

    .logo-text{
        height: 50px;
    }
}

@media (max-width: 640px) {
    :root{
        --page-width: 475px;
    }
    .logo {
        width: 60px;
        height: 60px;
    }

    .logo-text{
        height: 60px;
    }
}

@media (max-width: 475px) {
    .container{
        width: 100%;
    }
    .logo {
        width: 50px;
        height: 50px;
    }

    .logo-text{
        height: 50px;
    }
}